
/* ==================================================================
   General
   ================================================================== */

body {
    margin: 1em;
    background: #fafafa;
}

/* ==================================================================
   Title
   ================================================================== */

h1 {
    text-align: center;
}

/* ==================================================================
   List
   ================================================================== */

.game-list {
    margin: 0 auto;
    max-width: 40em;
}

.game-list li {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: .75em 0;
    list-style: none;
    color: #999;
}

.game-list li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.game-list .player {
    color: #000;
    font-weight: bold;
}

.game-list a {
    float: right;
    padding: 0 .8em;
    text-decoration: none;
    color: #5883fc;
    display: inline-block;
}

.game-list a:hover, .game-list a:active {
    color: #000;
}
