<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Game</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="/static/favicon.png">
        <link rel="apple-touch-icon" href="/static/favicon.png">

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/game-view.css">
    </head>

    <body>
        <h1>
            <span class="player-1">Player 1</span>
            <span class="player-vs">vs.</span>
            <span class="player-2">Player 2</span>
        </h1>

        <div class="game-table">
            <div class="board">
                <div class="field r-4 c-A d-2"></div>
                <div class="field r-4 c-B"></div>
                <div class="field r-4 c-C"></div>
                <div class="field r-4 c-D d-1"></div>

                <div class="field r-3 c-A"></div>
                <div class="field r-3 c-B d-2"></div>
                <div class="field r-3 c-C d-1"></div>
                <div class="field r-3 c-D"></div>

                <div class="field r-2 c-A"></div>
                <div class="field r-2 c-B d-1"></div>
                <div class="field r-2 c-C d-2"></div>
                <div class="field r-2 c-D"></div>

                <div class="field r-1 c-A d-1"></div>
                <div class="field r-1 c-B"></div>
                <div class="field r-1 c-C"></div>
                <div class="field r-1 c-D d-2"></div>

                <div class="pieces-wrap">
                <!--
                <div class="piece"></div>
                <div class="piece tall dark hole round"></div>
                -->
                </div>
            </div>

            <div class="board-aside">
                <div class="next field"></div>
                <div class="remaining"></div>
            </div>
        </div>

        <script>
            var game_id = '{{ game_id }}';
        </script>
        <script src="/static/js/game-view.js"></script>
    </body>
</html>
